.sale-title {
    color: #72BE43;
    font-weight: 600;
    text-transform: uppercase;
}

.title {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
}