@charset "UTF-8";
body {
  background-color: #1A1D29;
  color: #FFF; }

nav {
  position: sticky !important;
  top: 0px !important;
  z-index: 1000 !important; }

.navbar_custom_icon {
  height: 30px !important;
  width: 30px !important;
  object-fit: contain; }

.active {
  color: #72be43 !important; }

.nav-link {
  font-weight: 600;
  color: #FFF; }

.nav-link:hover {
  color: #72be43 !important; }

.bg-dark {
  background-color: #000 !important; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: white; }

.divider {
  height: 1px;
  width: 100%;
  border-top: 5px solid #76777F; }

.line {
  height: 10px;
  width: 50%;
  border-radius: 10px;
  background-color: #72be43;
  margin: 16px 0px; }

.btn-primary {
  background-color: #72be43;
  color: #FFF;
  border: 0px; }

.btn-primary:hover {
  background-color: #72be43;
  color: #FFF;
  border: 0px; }

.btn-outline-primary {
  border: 1px solid #72be43;
  color: #FFF; }

.btn-outline-primary:hover {
  border: 1px solid #72be43;
  color: #FFF;
  background-color: unset; }

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px; }

.modal-content {
  background-color: #1A1A1A;
  color: #FFF; }

.modal-header {
  border: 0px; }

.modal-footer {
  border: 0px; }

.one-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.navbar_custom_icon {
  height: 30px !important;
  width: 30px !important;
  object-fit: contain; }

.num {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border: 2px solid #454D6A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.num:hover {
  border-color: #B2EC0F; }

.num-active {
  border-color: #B2EC0F; }

.line-step {
  width: 100px;
  border: 1px dashed #454D6A; }

.showtime, .list-show-time {
  border-radius: 8px;
  border: 2px solid #454D6A;
  padding: 24px;
  box-sizing: border-box; }

.time .time-value {
  width: 100%;
  background-color: #454D6A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 12px;
  border-radius: 4px; }

.time .time-value:hover {
  background-color: #B2EC0F; }

.time {
  cursor: pointer; }

.theater {
  padding: 24px; }

.theater > img:nth-child(1) {
  border-radius: 8px;
  width: 100%; }

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px; }

.header-container a {
  display: inline-block; }

.btn-pick {
  color: white;
  background-color: #72BE43;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  cursor: pointer; }

.btn-pick:hover {
  background-color: #5ea536;
  color: white; }

.sale-title {
  color: #72BE43;
  font-weight: 600;
  text-transform: uppercase; }

.title {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 24px; }

.btn-pick {
  color: white;
  background-color: #72BE43;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px; }

.btn-pick:hover {
  background-color: #72BE43;
  color: white; }

.film {
  color: #FFF;
  text-align: left; }

.film p {
  margin-block-start: 0px;
  margin-block-end: 0px; }

.film > img {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover; }

.title {
  width: 100%;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 24px; }

#member img {
  width: 100%;
  object-fit: cover; }

#member > img {
  width: 20% !important; }

#sign-in {
  border: 1px solid #72BE43;
  color: #72BE43; }

.sale-title {
  color: #72BE43;
  font-weight: 600;
  text-transform: uppercase; }

.film-info .film-img {
  width: 100%;
  aspect-ratio: 3/5;
  object-fit: cover;
  border-radius: 8px; }

.btn-show {
  border: 2px solid #72BE43;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  color: #72BE43; }

.btn-show:hover {
  border-radius: 36px;
  color: #72BE43;
  border: 2px solid #72BE43; }

.card-film {
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s; }
  .card-film:hover {
    transform: scale(1.05); }
  .card-film .card-img-top {
    height: 200px;
    object-fit: cover; }
  .card-film .card-body {
    padding: 15px; }

.film-title {
  text-decoration: none;
  color: inherit; }
  .film-title:hover {
    text-decoration: none;
    color: #007bff; }

.table {
  background-color: #fff;
  color: #000; }

.table th, .table td {
  color: #000; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.card-body h5,
.card-body p {
  color: #000; }

.button {
  background-color: #76c452;
  /* Màu xanh */
  color: white;
  /* Màu chữ trắng */
  border: none;
  /* Không có đường viền */
  padding: 10px 20px;
  /* Khoảng cách bên trong */
  text-align: center;
  /* Canh giữa văn bản */
  text-decoration: none;
  /* Không gạch chân */
  display: inline-block;
  /* Để nút có thể nằm cạnh nhau */
  font-size: 16px;
  /* Kích thước chữ */
  margin: 5px 2px;
  /* Khoảng cách giữa các nút */
  cursor: pointer;
  /* Hiển thị con trỏ khi hover */
  border-radius: 5px;
  /* Bo tròn các góc */
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển màu khi hover */ }

.button:hover {
  background-color: #0f7a1d;
  /* Màu xanh đậm khi hover */ }

.screen {
  max-width: 68rem;
  margin: auto;
  border-top: 3px solid #72BE43;
  position: relative;
  margin-top: 50px;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: inset 0px 10px 20px var(--color);
  text-align: center;
  padding-top: 15px;
  letter-spacing: 5px;
  font-size: 12px; }

.chairs {
  max-width: 50rem;
  margin: auto; }

.row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.row li {
  margin: 0 8px;
  position: relative;
  width: 50px;
  height: 50px;
  background: gray;
  list-style: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out; }

.seat:hover {
  background-color: blue !important; }

.onair-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; }

.onair-time button {
  width: 200px;
  color: white;
  background-color: #3f3d3d;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out; }

.onair-time button:hover {
  background-color: #8d8d8d; }

.gio_chieu {
  margin-top: 20px;
  justify-content: center; }

.user-menu {
  position: relative;
  display: inline-block; }

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.user-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }

.user-name {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold; }

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  width: 150px; }

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd; }

.dropdown-menu a:hover {
  background-color: #72BE43; }

.dropdown-menu a:last-child {
  border-bottom: none; }
