<div class=" container gap-5 d-flex flex-row align-items-center pt-4 pb-4">
    <a href="/pages/home/index.html">
        <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/logo.png" height="60" width="60" alt="">
    </a>
    <h2>Đặt vé</h2>
</div>

<div class=" container">
    <h3 style="width: 100%;" class="text-center mt-4">Chọn thời gian và địa điểm</h3>
</div>

<div id="list-show-time" class="container mt-5 d-flex flex-column gap-5"></div>

<script type="module" src="/js/showtime.js"></script>