<div class="container">
    <h3 style="width: 100%;" class="text-center mt-5">Hệ thống rạp</h3>
        <div class="row" id="list-theater">
            <div class="col col-lg-3 col-md-4 col-sm-6 col-12 theater d-flex flex-column gap-2 align-items-start">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/12/LVV-243x330-1.jpg" alt="">
                <h5>BHD Star The Garden</h5>
                <img src="../../public/img/icons/like.svg" height="16" width="16" alt="">
                <p>Địa chỉ: Tầng 4, TTTM Garden Shopping Center, Phố Mễ Trì, P.Mỹ Đình 1, Quận Nam Từ Liêm, Hà Nội</p>
                <button class="btn btn-outline-primary" style="width: 100%;">
                    <img src="../../public/img/icons/share.svg" height="20" width="20" alt=""> CHIA SẺ
                </button>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-6 col-12 theater d-flex flex-column gap-2 align-items-start">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/12/LVV-243x330-1.jpg" alt="">
                <h5>BHD Star Le Van Viet</h5>
                <img src="../../public/img/icons/like.svg" height="16" width="16" alt="">
                <p>Địa chỉ: Tầng 4, Vincom Plaza Lê Văn Việt, 50 Lê Văn Việt, P.Hiệp Phú, Quận 9, TP.HCM</p>
                <button class="btn btn-outline-primary" style="width: 100%;">
                    <img src="../../public/img/icons/share.svg" height="20" width="20" alt=""> CHIA SẺ
                </button>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-6 col-12 theater d-flex flex-column gap-2 align-items-start">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/12/PNT-CINEMA-243x330-1.jpg" alt="">
                <h5>BHD Star Pham Ngoc Thach</h5>
                <img src="../../public/img/icons/like.svg" height="16" width="16" alt="">
                <p>Địa chỉ: Tầng 8, Vincom Center Phạm Ngọc Thạch, 02 Phạm Ngọc Thạch, P.Trung Tự, Quận Đống Đa, Hà Nội</p>
                <button class="btn btn-outline-primary" style="width: 100%;">
                    <img src="../../public/img/icons/share.svg" height="20" width="20" alt=""> CHIA SẺ
                </button>
            </div>

            <!-- Thêm các rạp khác bằng cách sao chép đoạn div trên và thay đổi thông tin tương ứng -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>