<div class="mt-4">
    <div class="container mt-5">
        <p class="title">Khuyến mãi</p>
        <div class="swiper mySwiper-v2">
            <div class="swiper-wrapper">
                {{#each sale}}
                <div class="swiper-slide">
                    <a href="" data-bs-toggle="modal" data-bs-target="#${type}-${index}">
                        <img class="ratio ratio-16x9" src="{{this.src}}" alt="">
                        <p class="mt-3 sale-title text-start">{{this.title}}</p>
                        <p class="mt-1 text-start">Thời gian khuyến mãi: 26/8/2023 - 26/9/2023</p>
                    </a>
                </div>
                {{/each}}
            </div>
            <div class="swiper-pagination mt-lg-5"></div>
        </div>
    </div>
</div>

<div class="mt-4"></div>
    <div class="container mt-5">
        <p class="title">Sự kiện</p>
        <div class="swiper mySwiper-v2">
            <div class="swiper-wrapper">
                {{#each voucher}}
                <div class="swiper-slide">
                    <a href="" data-bs-toggle="modal" data-bs-target="#${type}-${index}">
                        <img class="ratio ratio-16x9" src="{{this.src}}" alt="">
                        <p class="mt-3 sale-title text-start">{{this.title}}</p>
                        <p class="mt-1 text-start">Thời gian sự kiện: 26/8/2023 - 26/9/2023</p>
                    </a>
                </div>
                {{/each}}
            </div>
            <div class="swiper-pagination mt-lg-5"></div>
        </div>
    </div>
</div>